# Dependências
node_modules/

# Relatórios do Playwright
playwright-report/
test-results/
blob-report/

# Screenshots gerados automaticamente
screenshots/

# Cache e autenticação
playwright/.cache/
playwright/.auth/